@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-toastify/dist/ReactToastify.css";

body {
  font-family: "Inter", sans-serif;
}

.pageContainer {
  min-height: 80vh;
  padding: 2rem;
}
